/* Add your CSS here! */

body {
  font-family: arial;
  margin: 0;
  padding: 0;
}

#navbar-homebutton {
  margin-right: 50px;
}

#hr-logo {
  height: 55px;
  display: inline;
  float: left;
  margin-left: 50px;
  margin-right: 25px;
  -webkit-animation-name: spinnerRotate;
  -webkit-animation-duration: 5s;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;
  -moz-animation-name: spinnerRotate;
  -moz-animation-duration: 5s;
  -moz-animation-iteration-count: infinite;
  -moz-animation-timing-function: linear;
  -ms-animation-name: spinnerRotate;
  -ms-animation-duration: 5s;
  -ms-animation-iteration-count: infinite;
  -ms-animation-timing-function: linear;
}

@-webkit-keyframes spinnerRotate {
    from{-webkit-transform:rotate(0deg);}
    to{-webkit-transform:rotate(360deg);}
}

@-moz-keyframes spinnerRotate {
    from{-moz-transform:rotate(0deg);}
    to{-moz-transform:rotate(360deg);}
}

@-ms-keyframes spinnerRotate {
    from{-ms-transform:rotate(0deg);}
    to{-ms-transform:rotate(360deg);}
}

#navbar-title {
  color: white;
  font-size: 25px;
  float: left;
  margin-top: 12px;
}

ul {
    list-style-type: none;
    margin-left: 25px;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

/* Change the link color to #111 (black) on hover */
li a:hover {
    background-color: #111;
}

#app-container {
  width: 100%;
  height: 100%;
}
#page-content-container {
  margin-top: 70px;
  width: 100%;
  height:100%;
}

#navbar-container {
  font-size: 20px;
  width: 100%;
  height: 55px;
  background-color: #333;
}

#navbar {
  display: inline;
}

#info-window-container {
  background-color: #FFF;
  font-size: 28px;
  position: fixed;
  left: 550px;
  top: 50px;
  z-index: 100;
}



.navbar-logo {
  width: 125px;
  height: 125px;
  float: left;
}



.navbar ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

.navbar-brand-group {
  font-size: 28px;
  margin-left: 30px;
}

.navbar-link-group {
  margin-right: 30px;
}

.navbar-title {
 font-family: 'Roboto';
 padding-top: 10px;
 float:left;
}
.navbar-link {
  float: right;
}

.navbar-title a, .navbar-link a {
  display: block;
  color: black;
  text-align: center;
  margin: 0px 20px 0px 20px;
  text-decoration: none;
}

.navbar-title a {
  height: 100px;
}

.navbar-link {
  border-right: 1px solid #ccc;
}

.navbar-link:first-child {
  border-right: none;
}

.navbar-link a:hover {
  background-color: #FEFEFE;
  color: #6699ff;
  border-radius: 5px;
}

.landing-logo-group {
  margin-top: 150px;
  margin-left: 30%;
}

.hack-span {
  font-size: 36px;
  float: left;
  clear: both;
}

.yearbook-span {
  font-family: 'Pacifico';
  margin-left: 50px;
  margin-top: -10px;
  font-size: 36px;
  float: left;
  clear: both;
}

.date-span {
  font-size: 36px;
  margin-left: 100px;
  float: left;
  clear: both;
}

.profile {
  dispaly: inline;
  float: left;
  padding: 10px;
}

.face-photo {
  text-align: center;
  width: 250px;
}

.name {
  text-align: center;
  width: 250px;
}

